{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% block title %}
    <title>Weather</title>
    {% endblock title %}
    <link rel="shortcut icon" sizes="192x192" href="{% static 'images/bk_192.png' %}">

    {% block CSS %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/main.css' %}" >

    {% endblock CSS %}

    {% block extraCSS %}
    {% endblock extraCSS %}
</head>
<body>
    {% block topcontent %}  
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/bk_640.svg' %}" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                <a class="nav-link" href="#">Weather <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Downloads</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            </div>
        </nav>
    </header>        
    {% endblock topcontent %}


    {% block maincontent %}
    {% endblock maincontent %}

    <div style="display: none" id="token"></div>
    <div style="display: none" id="msg"></div>
    <div style="display: none" id="notis"></div>
    <div style="display: none" id="err"></div>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script>
        MsgElem = document.getElementById("msg");
        TokenElem = document.getElementById("token");
        NotisElem = document.getElementById("notis");
        ErrElem = document.getElementById("err");
        // Initialize Firebase
        // TODO: Replace with your project's customized code snippet
        var config = {
            apiKey: "AIzaSyDEIF13j_njdm74FldGdH3Fvta3dIPat2s",
            authDomain: "weather-f20c2.firebaseapp.com",
            databaseURL: "https://weather-f20c2.firebaseio.com",
            projectId: "weather-f20c2",
            storageBucket: "",
            messagingSenderId: "945096546130",
            appId: "1:945096546130:web:da4105e62fc7b327"
        };
        firebase.initializeApp(config);
        const messaging = firebase.messaging();
        // Initialize the service worker
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/serviceworker.js', {
            scope: '/'
            }).then(function (registration) {
                // Registration was successful
                messaging.useServiceWorker(registration);
                console.log('django-pwa: ServiceWorker registration successful with scope: ', registration.scope);
            }, function (err) {
                // registration failed :(
                console.log('django-pwa: ServiceWorker registration failed: ', err);
            });
        }
        
        messaging
            .requestPermission()
            .then(function () {
                MsgElem.innerHTML = "Notification permission granted." 
                console.log("Notification permission granted.");
                
                // get the token in the form of promise
                return messaging.getToken()
            })
            .then(function(token) {
                sendTokenToServer(token);
                TokenElem.innerHTML = "token is : " + token
            })
            .catch(function (err) {
                ErrElem.innerHTML =  ErrElem.innerHTML + "; " + err
                console.log("Unable to get permission to notify.", err);
            });
        messaging.onMessage(function(payload) {
            console.log("Message received. ", payload);
            NotisElem.innerHTML = NotisElem.innerHTML + JSON.stringify(payload) 
        });

        function sendTokenToServer(currentToken) {
            if (!isTokenSentToServer()) {
            console.log('Sending token to server...');
            // TODO(developer): Send the current token to your server.
            fetch('https://weather.zapto.org/devices/', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                'registration_id': currentToken,
                'type': 'web',
                }),
                credentials: "include",
            }).then(function(response) {
                console.log(response);
            })
            setTokenSentToServer(true);
            } else {
            console.log('Token already sent to server so won\'t send it again ' +
                'unless it changes');
            }

        }

        function isTokenSentToServer() {
            if (window.localStorage.getItem('sentToServer') == 1) {
                return true;
            }
            return false;
        }

        function setTokenSentToServer(sent) {
            if (sent) {
            window.localStorage.setItem('sentToServer', 1);
            } else {
            window.localStorage.setItem('sentToServer', 0);
            }
        }

    </script>

    {% block JS %}
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $('.navbar').on('shown.bs.collapse',function(){
            $('body').css('overflow','hidden');
        });
        $('.navbar').on('hidden.bs.collapse',function(){
            $('body').css('overflow','auto');
        });        
    </script>    
    {% endblock JS %}
</body>
</html>